@import (reference) '../style/variables.less';

ul[role='slug-list'] {
  padding: 16px;
  border-radius: 8px;
  &:empty {
    margin: 0 !important;
    padding: 0 !important;
  }

  li {
    > a.active {
      color: #346ae5;
      &::before {
        background: #346ae5;
      }
    }
    > a:hover {
      color: #346ae5;
    }

    &[data-depth='3'] {
      padding-left: 12px;
    }
  }
}
