name: Github Pages
on:
  push:
    branches:
      - master
jobs:
  Deploy-Pages:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        
      - name: Install Deps
        run: cd ./site && yarn add @tuya/dumi-theme-tuya

      - name: Build App
        run: cd ./site && yarn build
        
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site/dist
          cname: dumi-theme-tuya.js.org
